<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/modernizer/modernizr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/MySite.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="cover">
            <ul class="nav nav-tabs">
                <li class="active">@Html.ActionLink("About us", "Index", "Home")</li>
                <li>@Html.ActionLink("services", "Services", "Home")</li>
                <li>@Html.ActionLink("gallerty", "Gallery", "Home")</li>
                <li>@Html.ActionLink("contacts", "Contacts", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DoMajestic Application</p>
        </footer>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
